<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>

  <!-- Flash messages (errors/success) -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li><strong>{{ category }}:</strong> {{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="post" action="{{ url_for('auth.login_post') }}">
    <label>Email</label><br />
    <input type="email" name="email" required /><br /><br />

    <label>Password</label><br />
    <input type="password" name="password" required /><br /><br />

    <button type="submit">Login</button>
  </form>
<!-- This is a link to the signup page if a user isn't already signed up -->
  <p>
    No account?
    <a href="{{ url_for('auth.signup_get') }}">Sign up</a>
  </p>
</body>
</html>

<!-- The code for buttons was gotten from W3schools.com
https://www.w3schools.com/html/html_buttons.asp -->