<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Sign up</title>
</head>
<body>
  <h1>Sign up</h1>

  <!-- Flash messages (errors/success) -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li><strong>{{ category }}:</strong> {{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="post" action="{{ url_for('auth.signup_post') }}">
    <label>Email</label><br />
    <input type="email" name="email" required /><br /><br />

    <label>Password (min 8 chars)</label><br />
    <input type="password" name="password" minlength="8" required /><br /><br />

      <label>
    <input type="checkbox" name="is_admin">
    Sign up as developer/admin
    </label>

    <button type="submit">Create account</button>
  </form>

  <p>
    Already have an account?
    <a href="{{ url_for('auth.login_get') }}">Login</a>
  </p>
</body>
</html>

<!-- The code for buttons was gotten from W3schools.com
https://www.w3schools.com/html/html_buttons.asp -->
